#login{
    color: white;
    font-weight: 600;
    font-size: 16px;
    width:25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: crimson;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}